@model IEnumerable<JobPortalProject.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usre_FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_DOB)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_Contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usre_FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_DOB)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.User_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.User_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.User_ID })
        </td>
    </tr>
}

</table>
